footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  clear: both;
  position: relative;
  height: 200px;
  /* margin-top: -200px; */
  width: 100%;
  background-color: #bf1e2e;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.columnOne {
  font-size: 24px;
  color: #ffffff;
  align-self: center;
  text-align: left;
}

h3 {
  color: #ffffff;
  margin-left: 70px;
}

a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: inline;
  cursor: pointer;
  position: relative;
}

.columnTwo,
.columnThree {
  align-self: center;
}

.columnThree img {
  width: 50%;
  height: 50%;
}

@media (max-width: 50rem) {
  footer {
    grid-template-columns: 1fr;
    height: auto;
    margin-left: auto;
  }

  .columnThree img {
    display: none;
  }
}
