/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */

.gridLeft {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
}
p {
  color: #353a5d;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
h1 {
  color: #bf1e2e;
  font-size: 2rem;
  margin-top: 0.5rem !important;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 0.5px solid #dddddd;
  color: #fff;
  background-color: white;
}
.navLinks a {
  color: #353a5d;
  font-family: "Montserrat", sans-serif;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  border-bottom: 3px solid #353a5d;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
  position: relative;
}

input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 50rem) {
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-top: 15px;
    z-index: 99;
  }
  .menu li:hover {
    display: inline-block;
    border-bottom: 3px solid #353a5d;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 16px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
    height: 100vh;
  }
  .hamburger {
    display: block;
    z-index: 10;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  .navLinks label {
    color: #353a5d;
  }
}
