.heading {
  padding: 40px;
}
img.profile {
  height: auto;
  width: 70%;
  /* margin-left: 50px;  */
  border-radius: 50%;
  border: 8px solid #353a5d;
}
h3.secondHeading {
  color: black;
  font-weight: 100;
  margin: 0;
  padding-bottom: 20px;
}
.grid {
  height: 50vh;
  display: flex;
  justify-content: left;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  border-bottom: 0.5px solid #dddddd;
  border-top: 0.5px solid #dddddd;
}
.info {
  color: #bf1e2e;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 10px;
}

.infodesc {
  font-size: 1.3rem;
  padding-top: 30px;
  color: #353a5d;
  font-weight: 700;
}
.span {
  color: black;
  font-weight: 300;
  padding-top: 10px;
  font-size: 1.5rem;
}
.column,
.anotherColumn {
  display: flex;
  flex-direction: column;
  padding-left: 90px;
}

.update,
.delete {
  color: #353a5d;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 50px;
  width: 174px;
  height: 50px;
  font-size: 1rem;
  filter: drop-shadow(0px 2px 4px #00000014);
  cursor: pointer;
}
.contact {
  color: white;
  border: 1px solid #dddddd;
  background-color: #353a5d;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: -20px;
  width: 274px;
  height: 50px;
  font-size: 1rem;
  filter: drop-shadow(0px 2px 4px #00000014);
  cursor: pointer;
}
.delete {
  color: #bf1e2e;
}

.gridEnsembles {
  height: auto;
  padding-bottom: 50px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding-left: 40px;
  padding-right: 40px;
}

.buttons {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.popUp {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 15%;
  color: #353a5d;
  z-index: 99;
}

.popUpBody {
  width: 40%;
  height: 40%;
  background-color: white;
  opacity: 1 !important;
  margin: auto;
  color: #353a5d;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.popUpContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(50%);
}

.ques {
  font-size: 1.5rem;
  color: #bf1e2e;
  text-align: center;
}

@media (max-width: 50rem) {
  .grid {
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }
  .buttons {
    margin-left: -20px !important;
  }
  .column,
  .anotherColumn {
    padding-left: 0;
    align-items: center;
  }
  .ques {
    font-size: 1rem;
    text-align: center;
  }
  .update,
  .delete {
    /* width: 50px; */
    height: 50px;
  }
}
