/* general form style */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* *{
    font-family: 'Montserrat', sans-serif;
} */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  justify-content: center;
  height: 969px !important;
  padding-bottom: 200px;
  font-family: "Montserrat", sans-serif;
}
input,
label {
  display: block;
}

label {
  text-align: left;
  color: #777777;
  padding-bottom: 1rem;
}
input {
  width: 21rem;
  height: 2rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  border: 1px solid #dddddd;
  filter: drop-shadow(0 2px 4px #00000014);
  text-indent: 15px;
}

input::placeholder {
  font-weight: bold;
  color: #777777;
  padding-left: 0.2rem;
  opacity: 0.7;
}

/* signup style */

h2 {
  display: flex;
  padding-left: 2rem;
  color: #353a5d;
  text-align: center;
  justify-content: center;
}

input[type="radio"] {
  display: flex !important;
  width: 2rem !important;
  height: 2rem !important;
  text-align: center;
  flex-direction: row !important;
  row-gap: 0 !important;
}

.radio {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.3rem;
}

input[type="submit"] {
  height: 2rem;
  border-radius: 7px;
  background-color: #353a5d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  filter: drop-shadow(0 2px 4px #00000029);
  font-weight: 700;
}
h2{
    display: flex;
    padding-left: 2rem;
    color: #353A5D;
    text-align: center;
    justify-content: center;
}

 input[type="radio"]{
    display: flex !important;
    width: 2rem !important;
    height: 2rem !important;
    text-align: center;
    flex-direction: row!important;
    row-gap: 0 !important;
 }

 .radio{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    column-gap: .3rem;
 }

 input[type="submit"]{
    height: 2rem;
    border-radius: 7px; 
    background-color: #353A5D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 1rem;
    filter: drop-shadow(0 2px 4px #00000029);
    font-weight: 700;
 }

 /* Error messages */

.invalid {
    border-color: #f44336;
  }
  
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

/* musician profile */

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin-top: 0.5rem;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}
